html{
  scroll-behavior: smooth;
}

body{
    color: #fafafa;
    background-image: url("../images/promotion_bazar_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    /* background: #010007; */
    font-family: 'Open Sans', sans-serif;

}
a{
  transition: 0.5s;
  text-decoration: none;
}
p{
  font-size: 14px;
  line-height: 24px;
}
::-webkit-input-placeholder { /* Edge */
  color: #ddd !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ddd !important;
}

::placeholder {
  color: #ddd !important;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
#wrapper{
  position: relative;
  z-index: 3333;
}
section{
    display: inline-block;
    width: 100%;
    /* float: left; */

}

#header{
    /* margin-top: 20px; */
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 30px 0;
    z-index: 22;
}
.menu{
    margin-top: 22px;
    display: inline-block;
    width: auto;
    padding-right: 35px;
}
.menu ul li{
    display: inline-block;
    width: auto;
    list-style: none;
    margin: 0 20px;
  }
  
  .menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 12px;

}


#banner{
    text-align: center;
    
}

.banner-text .title-earth {
    color: white;
    letter-spacing: 25px;
    margin-top: 150px;
}
.banner-text {
  margin-top: -460px;
  position: relative;
  z-index: 9;
}
.banner-about {
    text-align: left;
    color: white;
    margin-top: 40px;
    max-width: 420px;
}
.banner-about h2{
    font-weight: bold;
    font-size: 50px;
}
.banner-about p{
    font-size: 15px;
    padding: 10px 0;
}
.btn {
    border: solid 1px #ddd;
    border-radius: 0;
    color: white;
    padding: 8px 15px;
    font-size: 14px;
    /* margin-top: 10px; */
    text-transform: uppercase;
    transition: 0.5s;
}

.btn:hover, .btn:focus{
    background-color: white;
    color: #333;
}

.section-title h2 {
    font-weight: normal;
    font-size: 35px;
    letter-spacing: 2px;
}
.numbers-boxes .speak-box {
    border: solid 1px #ddd;
    padding:35px 15px;
    transition: 0.4s;
    cursor: pointer;
    /* background: #010007; */

}
.numbers-boxes{
    margin-top: 25px;
}
.speak-box h3{
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0 15px 0;
}
.speak-box p{
    font-size: 12px;
    font-weight: normal;
    line-height: 22px;
    
}
section#numbers-speak{
    margin-top: 100px;
}
.speak-box:hover {
    background: #0278ff;
}
.speak-box:hover h3{
    text-decoration: underline;
}


/*----Slider----*/


.swiper-container {
    width: 600px;
    height: 150px;
    padding: 0 20px;
  }
  
  .swiper-slide {
    overflow: hidden;
    background-color: #F7F7F7;
    transform: skew(-20deg);
    border-top-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 120px;
  }
  .swiper-slide img {
    transform: skew(20deg);
  }
  
  .swiper-pagination {
    top: 130px;
  }
  
  .swiper-navigation-button-prev, .swiper-navigation-button-next {
    position: absolute;
    z-index: 1000;
    background-color: #FE5000;
    top: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    padding-top: 11px;
    opacity: 1;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
  }
  
  .swiper-navigation-button-prev {
    left: 0;
  }
  
  .swiper-navigation-button-next {
    right: 0;
  }
  
  .swiper-navigation-bullet {
    background-color: #FE5000;
    width: 20px;
    height: 6px;
    transform: skew(-20deg);
    border-top-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .swiper-navigation-bullet:not(.swiper-pagination-bullet-active) {
    background-color: #CCCCCC;
  }
  
  .swiper-hider-left {
    position: absolute;
    width: 40px;
    height: 140px;
    z-index: 10;
    transform: rotate(20deg);
    top: -20px;
    left: -20px;
    background-color: #FFFFFF;
  }
  
  .swiper-hider-right {
    position: absolute;
    width: 40px;
    height: 140px;
    z-index: 10;
    transform: rotate(20deg);
    top: 20px;
    right: -20px;
    background-color: #FFFFFF;
  }
  
  .gallery {
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  .gallery img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }

  
  /*----End Slider---*/

  .projects-list{
      padding: 15px;
    }

  .projects-list img{
    border-radius: 10px;
    width: 100%;
    display: inline-block;
  }
  section#projects {
    /* background: #010007; */
    margin-top: 120px;
}


.slider-nav button.slick-prev {
  display: none !important;
}
.slider-nav button.slick-next{
  top: 30%;
}
.slider-nav button.slick-next::before {
  content: "\f178";
  font-family: FontAwesome;
  font-size: 40px;
}

section#about {
  /* background: #010007; */
  margin-top: 300px;
}

.abouts {
  border-radius: 10px;
  background: #0e77ff;
  padding: 25px 70px;
  position: relative;
}
.video-part{
  position: relative;
}

.video-part .video {
  width: 450px;
  margin-top: -140px;
  float: left;
  display: inline-block;
}
.video-part .video img{
  width: 100%;
}

.text-about {
  display: inline-block;
  width: auto;
  margin-left: 540px;
}
.text-about h3 {
  font-size: 80px;
  color: rgb(63 81 181 / 55%);
  font-weight: bold;
  margin: 0;
  position: relative;
}
.text-about h3 span {
  position: absolute;
  top: 50%;
  text-align: center;
  font-size: 25px;
  left: 0;
  right: 0;
  color: white;
  transform: translateY(-30%);
}


.social-media {
  display: inline-block;
  width: auto;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}

.text-about .social-media li a{
  font-size: 25px;
  color: #082a68;
}
.text-about .social-media li{
  list-style: none;
}
.element::-webkit-scrollbar { width: 0 !important }
.about-contents {
  display: inline-block;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;
  max-height: 200px;
  overflow-y: scroll;
}
.about-contents h2 {
  font-size: 24px;
  margin: 0 0 10px 0;
}
.about-contents p {
  font-size: 14px;
  /* margin: 0 0 10px 0; */
  line-height: 30px;
}





/*----Css-by-Premraj---*/


/* START PEOPLE CSS */
.people_banner {
  position: relative;
  width: 100%;
  display: inline-block;
  border:solid 1px #ddd;
}
.people_heading h2 {
  display: inline-block;
    padding-right: 25px;
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 0px;
    vertical-align: middle;
    font-weight: normal;
}
.people_cnt {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgb(4, 4, 4, 0.4);
  padding: 8px 0;
}
.people_heading {
  text-align: right;
  padding-right: 50px;
}
section.our_people {
  /* background: #010007; */
  padding: 100px 0;
  width: 100%;
  display: inline-block;
}
/* END PEOPLE CSS */



/* START REQUEST CSS */
.request_cnt {
  /* background: #010007; */
  width: 100%;
  position: relative;
}
.request_main {
  display: flex;
}
.request_left {
  width: 50%;
  display: inline-block;
  float: left;
}
.request_right {
  width: 50%;
  display: inline-block;
  float: right;
  position: relative;
}
.request_text {
  max-width: 70%;
}
.request_cnt:before {
  content: "";
  position: absolute;
  background-image: url(../images/request.png);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.mail_inp {
  margin-top: 30px;
  position: relative;
}
.mail_inp .form-control {
  background: #ffffff2e;
  border: none;
  border-radius: 10px;
  padding: 18px 15px;
}
button.send_btn {
  background: transparent;
  border: none;
}
button.send_btn {
  position: absolute;
  top: 8px;
  right: 15px;
}
.send_successfully {
  margin-top: 35px;
}
.send_successfully i {
  background: #29d089;
  border-radius: 50%;
  padding: 5px;
  margin-right: 5px;
}
.email_img img {
  max-width: 150px;
  margin-top: 85px;
}
.request_right:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url(../images/email-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.request_text h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.request_text {
  max-width: 70%;
  padding: 70px 0;
}
/* END REQUEST CSS */


/* START FOOTER CSS  */
.footer {
  background: #090130;
  padding: 51px 0 20px 0;
}
.footer_cnt ul {
  padding: 0;
  margin: 0;
}
.footer_cnt ul li {
  list-style: none;
  width: 100%;
  display: inline-block;
}
.footer_cnt ul li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 0;
  display: inline-block;
}
.footer_cnt h3 {
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 15px 0
}
.cnt_info {
  width: 66%;
  display: inline-block;
  float: left;
}
.footer-social-media {
  width: 20%;
  display: inline-block;
  float: right;
  margin-top: 20px;
}
.footer-social-media ul li a {
  padding: 5px 0;
  font-size: 18px;
}
.copyright {
  text-align: center;
  padding: 10px 0;
  position: relative;
  margin-top: 30px;
}
.copyright:after {
  content: "";
  position: absolute;
  width: 60%;
  background: #7d7c7f;
  top: 0px;
  left: 0;
  right: 0;
  height: 1px;
  margin: auto;
}
.footer_cnt p {
  padding-top: 15px;
  line-height: 24px;
  font-size: 14px;
}
.responsive{
  width: 100%;
}
/* END FOOTER CSS  */


.mail_inp input{
  color: white;
}
section#partners {
  float: left;
  /* background: #010007; */
}

.slider-partners button.slick-arrow::before{
  font-family: FontAwesome;
  font-size: 15px;
  color: #03A9F4;
}
.slick-dots li button:before{
  color: #03A9F4 !important;
}
.slider-partners .slick-prev::before{
  content: "\f060";
}

.slider-partners .slick-next::before{
  content: "\f061";
}
.slider-partners button.slick-arrow {
  border: solid 1px #03A9F4;
  border-radius: 3px;
  padding: 10px 20px;
  height: auto;
  width: auto;
  position: absolute;
  top: 130px;
  right: 0;
  left: 0;
  z-index: 2222;
  margin: auto;
  background: #090130;
  /* font-size: 18px; */
}
.slider-partners .slick-prev{
  left: -280px !important;
}
.slider-partners .slick-next{
  /* margin-left: 100px; */
  right: -280px !important;
}
.slider.slider-partners {
  margin-top: 30px;
}

/* START OUR TEAM CSS */
.our_team {
  /* background: #010007; */
  padding: 100px 0;
}
.soc {
  padding: 10px 10px;
}
.soc ul {
  padding: 0;
  margin: 0;
  display: inline-block;
  float: right;
}
.soc ul li {
  list-style: none;
  display: inline-block;
}
.soc ul li a {
  padding: 0 8px;
  font-size: 20px;
  color: #bfbec4;
}
.team_tittle h2 {
  margin: 0;
  font-size: 24px;
}
span.founder_name {
  color: blue;
}
.team_tittle h2 {
  margin: 0 0 25px 0;
  font-size: 38px;
}
.team_cnt h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin: 35px 0 35px 0;
  position: relative;
}
.team_cnt h3:after {
  content: "";
  position: absolute;
  top: 40px;
  left: 0px;
  width: 65%;
  height: 1px;
  background: #39195c;
}
/* END OUR TEAM CSS */

.team_info {
  background: #191341;
}
.team_cnt {
  padding: 15px;
}
.team_cnt h3{
  /* padding: 15px; */
  margin: 10px 0 40px ;
}
.team_cnt p{
  font-size: 14px;
  line-height: 22px;
}
.projects-list .project-text {
  position: absolute;
  top: 0;
  padding: 20px 30px;
  left: 14px;
    right: 15px;
    bottom: 15px;
}
.projects-list .project-text h4{
  font-size: 16px;
  margin:10px 0 0 0;
  color: #ddd;
}
.projects-list .project-text h2{
  font-size: 25px;
  margin:10px 0 0 ;
  color: #ddd;


}
.slick-initialized .slick-slide{
  position: relative;
}
.slider-nav .slick-initialized .slick-slide:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: #090130;
  height: 100%;
}
.slick-slide img{
  position: relative !important;
}
.earth-img img {
  max-width: 910px;
  margin-top: 0;
  margin-left: 80px;
}

#particle-canvas {
  width: 100%;
  height: 100%;
  position: absolute !important;
  /* z-index: 22 !important; */
  height: 4500px !important;

}

#particle-canvas > div{
  background: none !important;
  height: 100% !important;

}
/* .banner {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 22;
} */

.slick-active button::before{
  font-size: 14px !important;
}


.logo {
  padding: 0 25px;
}


/* START ABOUT US PAGE CSS */
.about_pg {
  margin-top: 200px;
}

.trusts {
  /* background: #010007; */
  width: 100%;
  display: inline-block;
  padding: 55px 0;
  margin-top: 150px;
}
.trusts_cnt h2 {
  margin: 0;
  font-size: 35px;
}
.trusts_cnt p {
  font-size: 20px;
  margin-top: 15px;
}
.trusts_logos ul {
  padding: 0;
  margin: 0;
}
.trusts_logos ul li{
  list-style: none;
  display: inline-block;
}
.trusts_logos ul li a img {
  max-width: 150px;
}
.trusts_logos ul li {
  list-style: none;
  display: inline-block;
  width: 16.4%;
  padding: 10px 10px;
}
.trusts_logos {
  padding: 40px 0;
}

.knowledge_cnt h2 {
  margin: 0;
  font-size: 35px;
}
.knowledge_cnt p {
  font-size: 20px;
  margin-top: 15px;
}
.slider-knowledge {
    text-align: center;
    padding: 70px 50px;
    background: #19133e;
    border-radius: 4px;
}
.knowledge-list p {
  padding: 20px 0;
  text-align: justify;
  line-height: 26px;
  text-align-last: center;
}
.knowledge_cnt {
  margin-bottom: 50px;
}
.knowledge-list img {
  width: 200px;
  margin: auto;
}
.slider-knowledge button.slick-arrow {
  border: solid 1px #ffffff;
  border-radius: 3px;
  padding: 10px 20px;
  height: auto;
  width: auto;
  position: absolute;
  top: 116px;
  right: 0;
  left: 0;
  z-index: 2222;
  margin: auto;
  margin-right: 106px;
}
.slider-knowledge button.slick-arrow::before {
  font-family: FontAwesome;
  font-size: 15px;
  color: #fff;
}
.slider-knowledge .slick-prev::before {
  content: "\f060";
}
.slider-knowledge button.slick-arrow::before {
  font-family: FontAwesome;
  font-size: 15px;
  color: #fff;
}

.slider-knowledge .slick-next::before {
  content: "\f061";
}
.slider-knowledge .slick-prev {
  left: -65px !important;
}
.slider-knowledge .slick-next {
  right: -65px !important;
}
.slider-knowledge .slick-dots {
  display: none !important;
}
.text-about2 h3{
  font-size: 50px;
}
.text-about2 {
  padding-top: 30px;
}

/* END ABOUT US PAGE CSS */



/* START CONTACT CSS */

section.contact {
  padding: 220px 0;
  width: 100%;
  display: inline-block;
}
.contact_info h2 {
  font-size: 60px;
  text-transform: uppercase;
  line-height: 70px;
  font-weight: bold;
  letter-spacing: 2px;
}
.contact_about {
  padding-top: 60px;
}
.contact_about ul {
  padding: 0;
  margin: 0;
}
.contact_about ul li {
  list-style: none;
}
.contact_about ul li a {
  color: #fff;
  padding: 5px 0;
  display: inline-block;
  text-decoration: none;
}
.contact_about ul li a i {
  padding-right: 5px;
}



.form .form-control {
  background: #ffffff2e;
  border: none;
  border-radius: 10px;
  padding: 18px 15px;
} 
.form .form-control {
  background: #ffffff14;
  border-radius: 5px;
  padding: 10px 15px;
  border: 2px solid #FFF;
  margin: 15px 0;
  height: 50px;
  color: white;
}
.form .form-control::-webkit-placeholder{
  color:white;
}
.contact_cnt {
  max-width: 80%;
  margin: auto;
}


/* END CONTACT CSS */



.footer-info{
  padding: 0 50px;
}
#hiring-banner{
  position: relative;
}
.hiring-main{
  width: 100%;
  padding: 200px 130px;
  
}
.hiring-text ul li img {
  width: 100%;
}
.hiring-text ul{
  margin-top: 20px;
}
.hiring-text ul li {
  max-width: 120px;
  display: inline-block;
  margin-right: 15px;
}

.hiring-text h2 {
  font-size: 60px;
  font-weight: bold;
  line-height: 65px;
  /* margin-bottom: 40px; */
}
.hiring-text {
  margin-top: 70px;
}

.positions {
  display: inline-block;
  width: 100%;
}

.positions .position-heading {
  display: inline-block;
  width: 100%;
  background: #fafafa;
    padding: 8px 20px;
    border-radius: 10px;
}
.positions .position-heading ul{
  margin: 0;
}
.positions .position-heading li {
  color: #090130;
  display: inline-block;
  margin-right: 120px;
  font-size: 15px;
  vertical-align: middle;
}

.positions .position-heading li i.fa{
  margin-right: 10px;
}
li.posi strong {
  font-size: 20px;
}
.position-content {
  padding: 40px;
  display: inline-block;
  width: 100%;
  position: relative;
}
.position-img {
  width: 90px;
  display: inline-block;
  height: 90px;
}
.position-img img{
  width: 100%;
  height: 100%;
}
.position-description {
  display: inline-block;
  width: calc(100% - 100px);
  float: right;
  padding: 10px 25px;
}
.position-description p{
  max-width: 75%;
  display: inline-block;
  font-size: 12px;
  line-height: 22px;
}
.position-description .btn{
  float: right;
  font-weight: bold;
  display: inline-block;
  background: white;
  color: #090130;
  padding: 5px 10px;
  font-size: 12px;
  text-transform: capitalize;
}
.position-content:before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 100%;
  border-radius: 1px;
  position: absolute;
  left: -20px;
  background: #ddd;
  top: 0;
}

.positions .position-heading li a{
  color: #090130;
  text-decoration: none;
  font-weight: bold;
}
.hiring-text p {
  margin-top: 40px;
}

section#positions{
  padding-bottom: 60px;
}
.positions:last-child .position-content:before{
  display: none;
}
.btn-submit{
  color: #ddd;
  border-width: 2px;
  padding: 10px 25px;
  background: none;
}



/* START SERVICES CSS */
section.services {
  width: 100%;
  display: inline-block;
  padding-top: 150px;
}

.services_heading i {
  font-size: 20px;
  color: #0e77ff;
  vertical-align: top;
  margin-top: 15px;
  padding-right: 10px;
}
.services_heading h2 {
  font-size: 42px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 15px 0;
}
.services_heading p{
  font-size: 16px;
}
ul.services_btn {
  margin: 0;
  padding-top: 20px;
}
ul.services_btn li {
  list-style: none;
  display: inline-block;
}
ul.services_btn li a {
  background: rgb(63 81 181 / 22%);
  padding: 15px 25px;
  margin: 10px 10px 00 0;
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;

}
ul.services_btn li a:hover, ul.services_btn li a.active {
  background: #0e77ff; 
}
.strategy_list ul {
  padding: 0;
  margin: 0;
}
.strategy_list ul li {
  list-style: none;
  padding: 15px 30px;
  position: relative;
}
.strategy_list ul li:after {
  content: "\f00c";
  position: absolute;
  font-family: FontAwesome;
  top: 16px;
  left: 0;
  background: #e4fff2;
  color: #2ed78e;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.strategy_cnt {
  position: relative;
  z-index: 1;
  background: white;
  padding: 40px 100px 40px 70px;
  color: #333;
  border-top-left-radius: 50px;
  margin-top: 70px  ;
}
.strategy_tittle img{
  width: 70px;
  margin-right: 20px;
}
.strategy_tittle h2 {
  font-size: 28px;
  margin: 0;
  padding-bottom: 15px;
  font-weight: bold;
}
.strategy {
  padding: 60px 0 110px 15px;
}
.strategy:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: #0e77ff;
  width: 65%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.services-cnt {
  padding: 37px 0 34px 100px;
  margin-top: 140px;
}
.app_slider_img {
  position: relative;
  width: 100%;
  display: inline-block;
}
.app_slider_img:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #0a1344;
  width: 100%;
  height: 60%;
  border-radius: 15px;
}
.app_slider_img img {
  max-width: 280px;
  margin: 80px auto 0;
  position: relative;
}
.slider-app button.slick-arrow {
  margin: auto;
  border: solid 2px #ffffff;
  border-radius: 10px;
  padding: 0;
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 99999;
}
.slider-app button.slick-arrow::before {
  font-family: FontAwesome;
  font-size: 15px;
  color: #fff;
}
.slider-app .slick-prev::before {
  content: "\f060";
}
.slider-app button.slick-arrow::before {
  font-family: FontAwesome;
  font-size: 15px;
  color: #fff;
}

.slider-app .slick-next::before {
  content: "\f061";
}
.slider-app .slick-prev {
  left: -125px !important;
}
.slider-app .slick-next {
  right: -125px !important;
}
.slider.slider-app ul.slick-dots{
  display: none !important;
}
.list_app_tittle h2 {
  margin-top: 0;
  font-size: 30px;
  padding-bottom: 25px;
  font-weight: bold;
}
ul.list_app_li li {
  list-style: none;
  padding: 1px 0;
  position: relative;
  padding-left: 40px;
  margin-bottom: 10px;
}
ul.list_app_li li:after {
  content: "\f00c";
  position: absolute;
  font-family: FontAwesome;
  top: 6px;
  left: 0;
  background: #29d089;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
}
.workflow_tittle h2 {
  margin: 0;
  padding-bottom: 25px;
  font-weight: bold;
}
.workflow_tittle p {
  max-width: 621px;
}
.workflow_step h5 {
  display: inline-block;
  padding: 10px 16px;
  background: #0a1244;
  border-radius: 24px;
  text-transform: uppercase;
  margin: 0;
}
.workflow_step h2 {
  font-size: 25px;
  margin: 0;
  padding: 20px 0 30px 0;
  position: relative;
  font-weight: bold;
}
.workflow_step h2:after {
  content: "";
  position: absolute;
  top: 70px;
  left: 0;
  width: 41%;
  background: #0e77ff;
  height: 5px;
}
.workflow_step p{
  margin-top: 10px;
}
p.workflow_p2 {
  padding-top: 20px;
}
.workflow_step:hover, .workflow_step.active {
  background: #fff;
  color: #000;
  transition: 0.4s;
}
.workflow_step {
  padding: 20px 20px;
  transition: 0.4s;
}
.workflow_step0 {
    margin-top: -39px;
}
.workflow_step:hover h5, .workflow_step.active h5 {
  background: #0e77ff;
  color: #fff;
  transition: 0.4s;
  margin: auto;
}
.workflow_step {
  padding: 20px 20px;
  transition: 0.4s;
  margin: 80px 0 0px 0;
}
.technology_heading p {
  max-width: 620px;
}
.technology_heading h2 {
  font-size: 30px;
  margin: 0;
  font-weight: bold;
  padding-bottom: 25px;
}
.technology_tabs .technology_tabs_btn ul {
  background: white;
  display: inline-block;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  padding: 18px 0;
  width: 100%;
  max-width: 500px;
}
.technology_tabs .technology_tabs_btn ul li {
  display: inline-block;
  float: none;
}

.technology_tabs .technology_tabs_btn .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #2196f3;
  cursor: default;
  background: transparent;
}
.technology_tabs .nav-tabs>li>a:hover {
  background: transparent;
  border: none;
}
.technology_tabs .technology_tabs_btn ul li a {
  color: #333;
  padding: 5px 25px;
  border: none;
  font-size: 16px;
  font-weight: bold;
}
.technology_tabs .technology_tabs_btn ul li a:focus{
  box-shadow: none;
  outline: none;
  border: none;
}
.technology_tabs li.tabs_border a {
  border-left: 1px solid #000 !important;
  border-right: 1px solid #000 !important;
  border-radius: inherit;
}
.technology_tabs_btn {
  margin: auto;
  text-align: center;
  padding: 50px 0;
}
.technology_icons ul {
  display: inline-block;
  width: 100%;
  margin: auto;
  text-align: center;
}
.technology_icons ul li {
  list-style: none;
  display: inline-block;
}
.technology_icons ul li {
  list-style: none;
  display: inline-block;
  padding: 15px 15px;
}
.technology_icons ul li img {
  max-width: 100px;
}
section#service1{
    margin-top: 100px;
}
section#service2{
    margin-top: 100px;
}
section#service3{
    margin-top: 100px;
}
section#service4{
    margin-top: 100px;
}
section#service5{
    margin-top: 100px;
}
section#service6{
    margin-top: 100px;
}
section#service7{
    margin-top: 100px;
}
section#service8{
    margin-top: 100px;
}
section#service9{
    margin-top: 100px;
}
section#service10{
    margin-top: 100px;
}
section#service11{
    margin-top: 100px;
}
section#service12{
    margin-top: 100px;
}


/* END SERVICES CSS */


.strategy_tittle p {
  padding: 15px 0;
 }

 section.list_app{
   padding: 210px 0 150px 0;
 }


 .list_app_cnt ul.list_app_li {
  margin-top: 40px;
}

.number-of-slider {
  width: 150px;
  background: white;
  color: #333;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  margin-top: 70px;
}

section.technology {
  padding-top: 120px;
  padding-bottom: 120px;

}


section#advertisers-banner {
  display: inline-block;
  width: 100%;
  height: 100vh;
}
.advertisers {
  position: absolute;
  top: 50%;
  transform: translateY(-30%);
  width: 100%;
  left: 0;
  right: 0;
  padding: 0 180px;
  max-width: 1200px;
}
.advertisers h2 {
  font-weight: bold;
  font-size: 60px;
}
.details .detail-img {
  display: inline-block;
  width: 120px;
}
.details .detail-img img{
  width: 100%;
}
.details .detail-text {
  display: inline-block;
  width: calc(100% - 140px);
  float: right;
  margin-top: 10px; 
  padding-left: 20px;
}
.details {
  margin-top: 70px;
  display: inline-block;
  width: 100%;
  padding-bottom: 100px;
  /* padding-left: 60px; */
    padding-right: 40px;
}
.details .detail-text h4 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
}

.why-hire-img{
  width: 100%;
}
.why-hire-img img{
  width: 100%;
}
section#why-hire{
  padding: 40px 0;
}
.why-hire-text {
  margin-top: 110px;
  padding-left: 40px;
}

.why-hire-text h2 {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 40px;
  max-width: 320px;
  line-height: normal;
}
.why-hire-text p {
  margin-bottom: 20px;
}


/*----Percentage---*/

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 33%;
  justify-content: space-around;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: rgb(64 81 181 / 22%);
  stroke-width: 5;
}

.circle {
  fill: white;
  stroke-width: 1;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
  
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4cc790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #162261;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
  font-weight: bold;
}

section#percentage-main {
  padding: 70px 0;
}



.rectangle-img{
  width: 100%;
}
.rectangle-img img{
  width: 100%;
}
.pl-0{
  padding-left: 0 !important;
}
section#rectangle {
  background: rgb(63 81 181 / 20%);
  position: relative;
}
.rectangle-text {
  margin-top: 250px;
  padding-left: 100px;
}
.rectangle-text h2 {
  text-transform: uppercase;
  font-size: 24px;
  position: relative;
  margin-bottom: 30px;
}
.rectangle-text h2:after {
  content: "";
  display: inline-block;
  width: 150px;
  background: #2196F3;
  position: absolute;
  bottom: -15px;
  height: 3px;
  left: 0;
}
.rectangle-text a.btn {
  margin-top: 110px;
  height: 45px;
  line-height: 45px;
  padding: 0 25px;
  background: #2196F3;
}
.rectangle-text a.btn:hover, .rectangle-text a.btn:focus{
  background: none;
  color: white;
}
.perfect-img{
  width: 100%;
}
.perfect-img img{
  width: 100%;
}
section#perfect {
  padding: 110px 0;
}


.perfect-content{
  max-width: 550px;
}

.perfect-content h2{
  font-size: 45px;
  line-height: normal;
  font-weight: bold;
  margin-bottom: 25px;
}
.rectangle-box-main {
  padding-top: 50px;
  position: relative;
}
.rectangle-box p {
  font-size: 12px;
  line-height: 20px;
  margin-top: 25px;
}
.rectangle-box h3 {
  font-size: 18px;
}
.rectangle-box {
  padding: 15px 30px;
  width: 100%;
  display: inline-block;
  transition: 0.5s;
  border: solid 1px #ddd;
  margin-bottom: 25px;
}
.rectangle-box:hover{
  background: white;
}
.rectangle-box:hover h3, .rectangle-box:hover p{
  color: #333;
}

.rectangle-box-main::before {
  position: absolute;
  content: "";
  background: url(../images/Advertisers/perfect-box-bg.png);
  width: 100%;
  height: 860px;
  display: inline-block;
  left: 0;
  right: 0;
  top: -80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.architechture-img{
  width:100%;
}
.architechture-img img{
  width:100%;
}
.padding-right-0{
  padding-right: 0 !important;
}
.architechture-content h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 40px;
  max-width: 400px;
    line-height: normal;
    margin-top: 0;
    position: relative;
}
.architechture-content h2::after{
  content: "";
  display: inline-block;
  width: 100%;
  background: #2196F3;
  position: absolute;
  bottom: -15px;
  height: 5px;
  left: 0;
}
.architechture-content h3 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 40px;
  margin: 0;

}
.architechture-content p {
  font-size: 14px;
  line-height: 30px;
  margin: 50px 0 0 0;
}
.architechture-content {
  margin-top: 70px;
  padding-left: 50px;
}
section#architecture {
  padding: 120px 0;
}





/* START PUBLISHERS CSS */

.publish_cnt {
  padding: 250px 0;
}
.publish_cnt {
  padding: 250px 0;
  /* max-width: 600px; */
  margin: auto;
  text-align: center;
}
.publish_tittle {
  margin-top: 100px;
}

.publish_tittle h2 {
    font-size: 75px;
    margin: 0;
    padding-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: bold;

}
.publish_tittle p {
  font-size: 16px;
  margin-top: 20px;
}

div#publish_scroll {
  margin-top: 70px;
}
img.scroll_img {
  max-width: 80px;
}

div#publish_scroll a {
  color: #fff;
  text-decoration: none;
} 
.numbers {
  background: #0278ff;
  width: 100%;
  display: inline-block;
}
.number1 {
  width: 20%;
  display: inline-block;
}
.number2 {
  width: 35%;
  display: inline-block;
  position: relative;
}
.number3 {
  width: 40%;
  display: inline-block;
}
.number1 h2 {
  font-size: 160px;
  font-weight: bold;
  margin: 0;
  color: #020d4f;
}
.number2 h2 {
  font-size: 42px;
  font-weight: bold;
  line-height: 53px;
  letter-spacing: 10px;
  font-weight: bold;
}
.number2:before {
  content: "";
  position: absolute;
  width: 550px;
  border: 8px solid #fff;
  height: 470px;
  left: -30px;
  top: -200px;
  border-radius: 2px;
}
.number3 img {
  position: relative;
  z-index: 1;
}
.numbers_m_tittle h2 {
  font-size: 48px;
  margin: 0;
  font-weight: bold;
  letter-spacing: 2px;
}
.numbers-knowledge img {
  width: 30px;
}
.numbers-knowledge h2 {
  font-size: 26px;
  text-transform: uppercase;
  margin: 0;
  color: #020d4f;
  padding: 10px 0 40px 0;
  position: relative;
}
.numbers-knowledge h2:before {
    content: "";
    position: absolute;
    top: 52px;
    left: 0;
    right: 0;
    width: 10%;
    height: 1px;
    background: #fdfdfd;
}
.numbers-list {
  padding-right: 15px;
}
.numbers-knowledge .slick-arrow{
  display: none !important;
}
.numbers-knowledge .slick-dots li button:before {
  width: 15px;
  height: 1px;
  content: '';
  border: 2px solid #ffff;
  border-radius: 5px;
}
.numbers-knowledge .slick-dots li.slick-active button:before {
  width: 25px;
  border: 2px solid #000;
}
.slider.numbers-knowledge {
  padding: 70px 0;
}
.slider.numbers-knowledge .slick-dots{
  bottom: 0;
}

.client_cnt{
  text-align: center;
}
.clients_tittle h3 {
  position: relative;
  font-size: 70px;
  text-transform: uppercase;
  color: #d2d2d252;
  font-weight: 900;
  margin: 0;
}
.clients_tittle span {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #080130;
  font-size: 44px;
  transform: translateY(-50%);
}

.clients{
  position: relative;
  padding: 0;
}
.client_cnt {
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
}
.clients_tittle h3 {
  position: relative;
  font-size: 110px;
  text-transform: uppercase;
  color: #ffffff3d;
  font-weight: 900;
  margin: 0;
  letter-spacing: 5px;
  margin-top: 24px;
}
.client_cnt p {
  max-width: 65%;
  margin: auto;
  color: #080130;
}
.client_vedio {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0;
  transform: translateY(-50%);
  text-align: center;
}
.wrapper {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.video-main {
  position: relative;
  display: inline-block;
}

.video {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: transparent;
  color: #000;
  display: inline-block;
  border: 1px solid #dcdcdc47;
  z-index: 999;
}

@keyframes waves {
  0% {
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50% {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

.fa-play:before {
  content: "\f04b";
}

.waves {
  position: absolute;
  width: 150px;
  height: 150px;
  background: rgb(255 255 255 / 30%);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  border-radius: 100%;
  right: -50px;
  bottom: -50px;
  z-index: -1;
   -webkit-animation: waves 3s ease-in-out infinite;
  animation: waves 3s ease-in-out infinite;
}
        
.wave-1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.wave-2 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.wave-3 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
section.clients .modal-title {
  color: #000;
  margin: 0;
  display: inline-block;
}
section.clients button.close {
  color: #2f2f2f !important;
  opacity: 1;
  font-size: 20px;
  background: #000f79;
  width: 26px;
  height: 26px;
  color: #fff !important;
}


.honor1 {
  width: 25%;
  display: inline-block;
}
.honor2 {
  width: 100%;
  display: inline-block;
  position: relative;
  text-align: right;
  padding: 0 30px 0 125px;
  max-width: 500px;
}
.honor3 {
  width: 30%;
  display: inline-block;
}
.honor3 h2 {
  font-size: 160px;
  font-weight: bold;
  margin: 0;
  color: #fff;
}
.honor2 h2 {
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  letter-spacing: 5px;
  font-weight: bold;
  text-transform: uppercase;
}
.honor2:before {
  content: "";
  position: absolute;
  width: 100%;
  border: 4px solid #fff;
  height: 440px;
  left: 0;
  top: -200px;
  border-radius: 2px;
}
.honor1 img {
  position: relative;
  margin: 52px 0 0 110px;
  max-width: 327px;
  z-index: 2;
}
.details_img {
  max-width: 75%;
}
.details_left{
  position: relative;
  display: inline-block;
  width: 100%;
}
.details_text {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  max-width: 400px;
  background: #0278ff;
  padding: 30px;
}
.details_text h2 {
  font-size: 50px;
  font-weight:bold;
  margin: 0;
  text-transform: uppercase;
  padding: 0 0 10px 0;
}
.details_icon ul {
  padding: 0;
  margin: 0;
}
.details_icon ul li {
  list-style: none;
  padding: 10px 0;
}
.details_icon ul li {
  list-style: none;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 20px;
}
.details_icon ul li span {
  padding-right: 12px;
}
.details_icon ul {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: auto auto;
}
.details_icon {
  margin-top: 160px;
}
.details_icon ul li img {
  width: 25px;
}



.floble-list {
  text-align: center;
}
section.global {
  text-align: center;
  padding-top: 40px;
}
.global h5.costumer_say {
  font-size: 20px;
}

.global_tittle h2 {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 53px;
  padding: 0 0 15px 0;
}
.global_tittle p {
  font-size: 16px;
  max-width: 80%;
  margin: auto;
}
.global_border {
  margin: 70px 0 55px 0;
}
.global_border span {
  background: #ffffff;
  height: 60px;
  width: 1px;
  display: inline-block;
}
.globle_slider {
  padding: 0 0 100px 0;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.floble-list img {
  text-align: center;
  margin: auto;
}
.floble-list {
  background: white;
  padding: 20px;
}
img.globle_img {
  max-width: 125px;
}
img.globle-start {
    padding: 35px 0 25px 0;
    max-width: 90px;
}
.floble-list {
  color: #000;
}
.floble-list {
  background: white;
  padding: 31px;
}
.floble-list h5 {
  font-weight: bold;
  margin: 40px 0 0 0;
  padding: 0;
  font-size: 16px;
}
.floble-list h6 {
  font-size: 16px;
  opacity: 0.6;
}
.globle_slider .slick-arrow{
  display: none !important;
}

.slider.floble-company .floble-list.slick-slide {
  background: none;
  padding: 15px;
}
.costomer-box{
  background: white;
  padding: 35px 15px 15px 15px;
  min-height: 460px;
  transition: 0.5s;
}

.costomer-box:hover {
  background: #2196F3;
}

.costomer-box:hover p{
  color: white;
}
.costomer-box h5{
  color: #020d4f;
}
.costomer-box:hover h6{
  color: #020d4f;
}
.costomer-box:hover img.globle-start {
  filter: invert(1);
}


.slider.floble-company .slick-dots li button::before, .numbers-knowledge .slick-dots li button::before{
  display: none;
}
.slider.floble-company .slick-dots li, .numbers-knowledge .slick-dots li {
  width: auto;
}
.slider.floble-company .slick-dots li button, .numbers-knowledge .slick-dots li button {
  width: 10px;
  background: white !important;
  height: 4px !important;
  padding: 0;
  margin: 0;
  border-radius: 3px;
}
.slider.floble-company .slick-dots li.slick-active button {
  width: 40px;
  background: #2196F3 !important;
}
.numbers-knowledge .slick-dots li.slick-active button{
  background: #080130 !important;
  width: 40px;

}
/* END PUBLISHERS CSS */
